@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#191919] text-white antialiased;
}
[contenteditable][data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: #a3a3a3;
}


